.section {
    background-image: url('../img/Estrelas.jpg');
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
}

.logo-sw {
    width: 30%;
    margin: 50px 0px 0px 550px;
}

.title-section {
    margin: 0;
    padding: 40px;
    color: #FFFF00;

    text-align: center;
    text-transform: uppercase;
    font-size: 2.5875rem;
}

.menu-episode {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
}

.line-button {
    display: flex;
    flex-direction: row;
    padding-left: 25px;
}

.button-episode {
    background-color: #FFFFFF;
    margin: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    height: 50px;
    width: 30%;

    padding-top: 13px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.button-episode:hover{
    background-color: #FFFF00;
    font-size: 1.3rem;
}

.input-search {
    margin: 20px;
    width: 50%;
    height: 50px;
}

.all-icons {
    padding-bottom: 10px;
}

.sw-container {
    background-color: #FFFFFF;
    width: 90%;
    height: 500px;

    margin: 0px 75px;
    border-radius: 5%;
}

@media (max-width: 599px) {
    .logo-sw {
        width: 60%;
        margin: 50px 0px 0px 75px;
    }

    .title-section {
        font-size: 2.0874rem;
    }

    .menu-episode {
        flex-direction: column;
    }

    .line-button {
        flex-direction: column;
    }
    .button-episode {
        margin: 0px 0px 15px -2px;
        width: 95%;
        height: 6s0px;
    }

    .sw-container {
        width: 90%;
        margin: 0px 0px 0px 18px;
    }
}

